<div class="administration-container fadein animation-duration-500">
  <div>
    <p-accordion>
      <p-accordionTab>
        <ng-template pTemplate="header">
          <h3 class="title">
            <i class="pi pi-exclamation-circle icon-container"></i>
            Administración de Calendario y Turnos
          </h3>
        </ng-template>
        <div class="info-content">
          <div class="text-container">
            <p>
              En este módulo podrá gestionar completamente su calendario de
              trabajo. Algunas funciones disponibles incluyen:
            </p>
            <ul>
              <li>Modificar turnos disponibles</li>
              <li>Configurar días y horarios de trabajo</li>
              <li>Bloquear días específicos</li>
              <li>Personalizar su disponibilidad</li>
            </ul>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>

  <form [formGroup]="calendarForm">
    <div
      class="calendar-configuration-container mt-3 fadein animation-duration-1000"
    >
      <div class="configuration-section">
        <h2>Configuración de Calendario</h2>
        <div class="p-fluid grid">
          <div class="col-12 md:col-6 mb-2">
            <div class="flex gap-2 align-items-center">
              <p-calendar
                [showIcon]="true"
                inputId="icondisplay"
                placeholder="Fecha de Inicio"
                formControlName="startDate"
                class="w-full"
              />
              <p-calendar
                [showIcon]="true"
                inputId="icondisplay"
                placeholder="Fecha de Fin"
                formControlName="endDate"
                class="w-full"
              />
            </div>
          </div>

          <div class="col-12 md:col-6 mb-2">
            <p-multiSelect
              [options]="daysOptions"
              optionLabel="name"
              optionValue="code"
              placeholder="Seleccionar Días"
            >
            </p-multiSelect>
          </div>

          <div class="col-12 md:col-6">
            <span class="p-float-label">
              <p-dropdown
                [options]="intervalOptions"
                optionLabel="label"
                formControlName="slotDurationMinutes"
                optionValue="value"
              >
              </p-dropdown>
              <label>Intervalos de Tiempo</label>
            </span>
          </div>

          <div class="col-12 md:col-6">
            <div class="flex gap-2 align-items-center">
              <p-calendar
                inputId="calendar-timeonly"
                placeholder="Hora de Inicio de Jornada"
                formControlName="startTime"
                class="w-full"
                [timeOnly]="true"
              />
              <p-calendar
                placeholder="Hora de Fin de Jornada"
                inputId="calendar-timeonly"
                formControlName="endTime"
                [timeOnly]="true"
                class="w-full"
              />
            </div>
          </div>

          <div class="col-12 actions-container">
            <p-button
              label="Guardar Cambios"
              (click)="saveConfiguration()"
              styleClass="p-button-primary"
            >
            </p-button>
            <p-button
              label="Cancelar"
              (click)="cancelConfiguration()"
              styleClass="p-button-secondary"
            >
            </p-button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<p-toast />
