:host ::ng-deep {
  .calendar-container {
    padding: 1rem;
    background-color: #edf1ff59;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
  }

  .p-card {
    background-color: #ffffff;
    border-radius: 0.75rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: none;
  }

  .calendar-card {
    .p-card-body {
      padding: 1rem;
    }

    .fc {
      .fc-toolbar {
        flex-wrap: wrap;
      }

      .fc-toolbar-title {
        color: #333;
        font-weight: bold;
      }

      .fc-button-primary {
        background-color: #5a5ffa;
        border-color: #5a5ffa;

        &:hover {
          background-color: #443cef;
          border-color: #443cef;
        }

        &:focus {
          box-shadow: none;
        }
      }

      .fc-day-today {
        background-color: #c4d1ff !important;
      }

      .fc-event {
        background-color: #7a88ff;
        border-color: #7a88ff;
      }
    }
  }

  .form-card {
    .p-card-header {
      background-color: #443cef;
      color: white;
      padding: 1rem;
      border-radius: 0.75rem 0.75rem 0 0;
      font-weight: bold;
    }

    .p-card-body {
      padding: 1.25rem;
    }
  }

  .appointment-form {
    .field {
      margin-bottom: 1rem;

      label {
        display: block;
        margin-bottom: 0.5rem;
        color: #392fd3;
        font-weight: bold;
      }

      input,
      textarea,
      .p-dropdown {
        border: 1px solid #a0b1ff;
        transition: border-color 0.3s, box-shadow 0.3s;

        &:focus {
          border-color: #443cef;
          box-shadow: 0 0 0 2px #c4d1ff;
        }
      }
    }

    .minimal-button {
      background-color: #443cef;
      border-color: #443cef;

      &:hover {
        background-color: #392fd3;
        border-color: #392fd3;
      }

      &:focus {
        box-shadow: 0 0 0 2px #c4d1ff;
      }

      &.p-button-disabled {
        background-color: #dee6ff;
        border-color: #dee6ff;
      }
    }
  }
}

.field {
  margin-bottom: 15px;
}

.field label {
  font-size: 1rem;
  font-weight: 700;
  color: #333;
  display: block;
  margin-bottom: 8px;
}

.field p {
  font-size: 1.1rem;
  color: #333;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.field p:first-letter {
  text-transform: capitalize;
}

.field p:hover {
  background-color: #eef2ff;
  border-color: #7a88ff;
}

.field p.selected {
  background-color: #7a88ff;
  color: #fff;
}

.field p.selected:hover {
  background-color: #5a5ffa;
}
