.history-container {
  padding: 1rem;
  background-color: #edf1ff59;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

.search-label {
  color: #333;
}

.search-label i {
  color: #5ccee7;
  font-weight: bold;
}

.table-container {
  background-color: #edf1ff3d;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

:host ::ng-deep {
  .p-button.p-button-outlined {
    color: #333;
    border: 1px solid #2fa5bf;
  }
  .p-splitbutton-menubutton,
  .p-splitbutton.p-button-rounded > .p-splitbutton-menubutton.p-button,
  .p-splitbutton.p-button-outlined > .p-splitbutton-menubutton.p-button {
    border: none;
  }
  .p-splitbutton .p-splitbutton-defaultbutton,
  .p-splitbutton.p-button-rounded > .p-splitbutton-defaultbutton.p-button,
  .p-splitbutton.p-button-outlined > .p-splitbutton-defaultbutton.p-button {
    display: none;
    border: none;
  }

  .p-splitbutton.p-button-outlined > .p-button:not(:disabled):active {
    background-color: transparent;
    border: none;
  }

  .p-splitbutton.p-button-outlined > .p-button:not(:disabled):focus {
    box-shadow: none;
  }

  .p-splitbutton.p-button-outlined > .p-button:not(:disabled):hover {
    box-shadow: none;
    background-color: transparent;
  }
}

.iconWhatsApp {
  color: #25d366;
  cursor: pointer;
}

.date-past {
  color: #82b7ec !important;
  font-weight: bold;
}

.date-soon {
  color: #eb5d5d !important;
  font-weight: bold;
}

.date-future {
  color: #7fe484 !important;
  font-weight: bold;
}
