.dashboard-container {
  padding: 1rem;
  background-color: #edf1ff59;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

.cards-container {
  background-color: #edf1ff3d;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-count {
  h5 {
    color: #333;
    margin-top: 10px;
    font-weight: 100;
  }
  span {
    color: #333333c5;
    font-size: 40px;
    font-weight: 900;
  }
  i {
    color: #5a5ffa;
    font-size: 40px;
    font-weight: 900;
  }
}

.card-stadistic {
  font-size: 10px;
  color: #333333c5;
  font-weight: 300;
  i {
    font-size: 25px;
    font-weight: 300;
    color: #6c5ce7;
  }
}
